:root {
  --cell-border-color: #E4DAEE;
  --cell-bg-color: #FFFFFF;
  --text-color: #520A6F;
  --main-font: 'Roboto', sans-serif;
  --cursive-font: 'Kaushan Script', cursive;
}

#reminder-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: center;
  margin: 50px auto 50px auto;
  flex-grow: 1;
}

.reminder-element {
  height: 50px;
  font-size: 18px;
  padding: 7px;
  font-family: var(--main-font);
  border: 2px solid var(--cell-border-color);
  border-radius: 5px;
  color: var(--text-color);
  transition-duration: 0.4s;
}

h2 {
  color: var(--text-color);
  text-align: center;
  font-family: var(--main-font);
}

#reminder-label {
  margin-top: 30px;
  height: 30px;
  padding-left: 7px;
  font-size: 18px;
  font-family: var(--main-font);
  color: var(--text-color);
}

input:focus {
  outline: none;
  border: 2px solid var(--text-color);
}

#add-button {
  width: 20%;
  margin: 30px auto 30px auto;
  background-color: #FFFFFF;
}

#add-button:hover {
  color: var(--text-color);
  background-color: var(--cell-border-color);
}

.error {
  border: 2px solid red;
}

.reminder {
  height: 50px;
  margin-bottom: 10px;
  font-size: 18px;
  padding: 7px;
  font-family: var(--main-font);
  border: 2px solid var(--cell-border-color);
  border-radius: 5px;
  background-color: var(--cell-border-color);
  color: var(--text-color);
  transition-duration: 0.4s;
  line-height: 50px;
}

.reminder-time {
  margin-right: 20px;
  margin-left: 10px;
}

.reminder-text {
  font-style: italic;
}